client/build
client/node_modules
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.yarn_cache/*
client/!.yarn_cache/.gitkeep
client/.env

server/appsettings.json
server/client_secrets.json
server/bin
server/obj
server/*.db
